<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row" style="margin-top: 10px ;">

            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img src="../../../assets/login-icon.png" alt="" class="login">
                </div>

                <h1 class="text-center">Register</h1>

                <form (ngSubmit)="formSubmit()">
                    <!--Username-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.username"
                         name="username"
                         matInput
                         placeholder="username"/>
                      </mat-form-field>

                    <!--Password-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.password"
                         name="password"
                         type="password" 
                         matInput placeholder="password"/>
                      </mat-form-field>

                    <!--firstName-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        matInput placeholder="First Name"/>
                      </mat-form-field>

                    <!--lastName-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        matInput placeholder="Last Name"/>
                      </mat-form-field>

                    <!--email-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email"
                        matInput
                        placeholder="Email Id"
                        #email="ngModel"
                        />
                        <!--email validation-->
                        <mat-error *ngIf="email.invalid && email.touched">
                            <span *ngIf="email.errors?.['required']">Email is required.</span>
                            <span *ngIf="email.errors?.['email']">Please enter a valid email address.</span>
                          </mat-error>
                      </mat-form-field>  

                      <div class="container text-center">
                        <button type="submit" mat-raised-button class="button-color">Register</button>
                        <button type="reset" mat-raised-button class="button-color" style="margin-left: 20px;">Clear</button>
                    </div>

                    <div class="container text-center mb20" style="margin-top: 15px;">
                        <span>Already have an account? <a routerLink="/login">Login</a></span>
                    </div>
                    <!-- <div id="g_id_onload"
                        data-client_id="620137301404-i3b1smrh5jkqmarq8lpihvastu5jbhh6.apps.googleusercontent.com"
                        data-context="signin" data-ux_mode="popup" data-callback="handleCredentialManager"
                        data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline"
                        data-text="signin_with" data-size="large" data-logo_alignment="left">
                    </div> -->

                </form>

            </div>

        </div>

    </div>

</div>